@charset "UTF-8";

html{
	display: flex;
	justify-content: center;
}

table{
	margin: 0 auto;
	border-collapse: collapse;
	height: 25px;
	table-layout: fixed;
	text-align: center;
} 

th {
	background: #222e3c;
}

th, td {
	border: 1px solid #222e3c;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

li{
	list-style: none;
}

a{
	text-decoration: none !important;
}

.logo{
	display: flex;
	place-items : self-end;
}

.mt-10{
	margin-top: 10px;
}

.mt-15{
	margin-top: 15px;
}

.ml-15{
	margin-left: 15px;
}

.btn-fill, .btn-empty {
	display: inline-block;
	height: 32px;
	padding: 3px 15px;
	border: 1px solid #222e3c;
	border-radius: 3px;
	
}
.btn-fill {
	background-color: #222e3c;
	color: #fff;
}
.btn-empty {
	background-color: #fff;
	color: #222e3c;
}

.centerFrame{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.w-px600 {
	width: 600px
}

.w-px800 {
	width: 800px
}

.w-px1000 {
	width: 1000px
}

.w-px1200 {
	width: 1200px
}
