@charset "UTF-8";

html{
	display: flex;
	justify-content: center;
}

body{
	width: 800px;	
}


table{
	margin: 0 auto;
	border-collapse: collapse;
	height: 25px;
	table-layout: fixed;
	text-align: center;
} 

th {
	background: #222e3c;
}

th, td {
	border: 1px solid #222e3c;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

li{
	list-style: none;
}

a{
	text-decoration: none !important;
}

.logo{
	display: flex;
	place-items : self-end;
}

.mt-10{
	margin-top: 10px;
}

.btn-fill, .btn-empty {
	display: inline-block;
	height: 32px;
	padding: 3px 15px;
	border: 1px solid #222e3c;
	border-radius: 3px;
	
}
.btn-fill {
	background-color: #222e3c;
	color: #fff;
}
.btn-empty {
	background-color: #fff;
	color: #222e3c;
}


