@charset "UTF-8";

html{
	display: flex;
	justify-content: center;
}

body{
	width: 1200px;	
}
table{
	margin: 0 auto;
	border-collapse: collapse;
	height: 25px;
	table-layout: fixed;
	text-align: center;
} 

th {
	background: #222e3c;
}

th, td {
	border: 1px solid #222e3c;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

li{
	list-style: none;
}

a{
	text-decoration: none !important;
	cursor: pointer;
}

.logo{
	display: flex;
	place-items : self-end;
}

.mt-10{
	margin-top: 10px;
}

.mt-15{
	margin-top: 15px;
}

.ml-7{
	margin-left: 7px;
}

.ml-10{
	margin-left: 10px;
}

.ml-15{
	margin-left: 15px;
}


.frontBtn-fill, .frontBtn-empty {
	display: inline-block;
	height: 32px;
	padding: 3px 15px;
	border: 1px solid #0d6efd;
	border-radius: 3px;
	
}
.frontBtn-fill {
	background-color: #0d6efd;
	color: #fff;
}
.frontBtn-empty {
	background-color: #fff;
	color: #0d6efd;
}

.sideBtn-fill, .sideBtn-empty {
	display: inline-block;
	height: 32px;
	padding: 3px 15px;
	border: 1px solid #222e3c;
	border-radius: 3px;
	
}
.sideBtn-fill {
	background-color: #222e3c;
	color: #fff;
}
.sideBtn-empty {
	background-color: #fff;
	color: #222e3c;
}
.center{
	text-align: center;
}
.centerFrame{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}



.w-px40 { width: 40px }
.w-px60 { width: 60px }
.w-px80 { width: 80px }
.w-px100 { width: 100px }
.w-px120 { width: 120px }
.w-px140 { width: 140px }
.w-px160 { width: 160px }
.w-px180 { width: 180px }
.w-px200 { width: 200px }
.w-px220 { width: 220px }
.w-px250 { width: 250px }
.w-px300 { width: 300px }
.w-px350 { width: 350px }
.w-px400 { width: 400px }
.w-px500 { width: 500px }
.w-px600 { width: 600px }
.w-px800 { width: 800px }
.w-px1000 { width: 1000px }
.w-px1200 { width: 1200px }



input[type=text]{
	width: -webkit-fill-available;
	height: -webkit-fill-available;
}

textarea{
	width: -webkit-fill-available;
	height: -webkit-fill-available;
}

