<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com">

	<!-- 코드목록 전체조회 -->
	<select id="codelist" resultType="common.CommonVO">
		select c.* , e.name code_maker_name
		from common_code c left join employees e
		on c.code_maker = e.employee_id
		order by code_title
	</select>
	
	<!-- 선택한 코드에 해당하는 목록 가져오기 -->
	<select id="codelist_select" resultType="common.CommonVO">
		select distinct c.* , e.name code_maker_name
		from common_code c left join employees e
		on code_maker = e.employee_id
		<choose>
			<when test="code == 'code_title'">where ${code} = #{vo.code_title}</when>
			<when test="code == 'code_value'">where ${code} = #{vo.code_value}</when>
			<when test="code == 'code_used'">where ${code} = #{vo.code_used}</when>
			<when test="code == 'code_name'">where ${code} = #{vo.code_name}</when>
		</choose>
		order by ${code}
	</select>

	<!-- 인사코드 드롭다운 -->
	<select id="personal_code" resultType="common.CommonVO">
		select distinct code_title 
		from common_code 
		order by code_title
	</select>
	
	<!-- 문서코드 드롭다운 -->
	<select id="document_code" resultType="common.CommonVO">
		select distinct code_value 
		from common_code 
		order by code_value
	</select>
	
	<!-- 고용형태코드 드롭다운 -->
	<select id="employee_code" resultType="common.CommonVO">
		select distinct code_used
		from common_code 
		order by code_used
	</select>
		
	<!-- 근무구분코드 드롭다운 -->
	<select id="work_code" resultType="common.CommonVO">
		select distinct code_name 
		from common_code 
		order by code_name
	</select>
	
	<!-- 인사코드 가져오기 -->
	<!--  
	<select id="codelist_select" resultType="common.CommonVO">
		select distinct c.* , e.name code_maker_name
		from common_code c left join employees e
		on c.code_maker = e.employee_id
		where c.code_title = #{code_title}
		order by code_title
	</select>
	-->

	<!-- 특정 사원정보 조회 -->
	<select id='detail' resultType='common.CommonVO'>
		select c.* , e.name code_maker_name
		from common_code c left join employees e
		on c.code_maker = e.employee_id
		where c.code_value = #{code_value}
	</select>
	
	<!-- 사원정보 수정저장처리 -->
	<update id="update">
		update common_code
		set code_title = #{code_title}, code_value = #{code_value}, code_used = #{code_used}, code_name = #{code_name}, code_birth = sysdate
		where code_value = #{code_value}
	</update>
	
	<delete id="delete">
	 	delete from common_code
	 	where code_value = #{code_value}
	</delete>
	
	
	<!-- 특정 코드 조회 -->
	<select id='check_code' resultType='common.CommonVO'>
		select c.* , e.name code_maker_name
		from common_code c left join employees e
		on c.code_maker = e.employee_id
		where c.code_name = #{code_name}
	</select>
	
	
	<!-- /////////////////////////////////////////////////////////////// -->
	
	<!-- 안드의 코드전체조회 -->
	<select id="andSelect" resultType="common.CommonVO">
		select c.code_title, c.code_value, c.code_used, c.code_name, c.code_birth, e.name code_maker_name
		from common_code c left join employees e
		on c.code_maker = e.employee_id
		order by code_title
	</select>
	
	<!-- 안드의 코드 인사조회 -->
	<select id="andSpinnerList" resultType="common.CommonVO">
		select distinct code_title
		from common_code 
		order by code_title
	</select>
	
	<!-- 스피너 선택(value)시 나올 값 -->
	<select id="andSpinnerValuelist" resultType="common.CommonVO">
		select c.code_title, c.code_value, c.code_used, c.code_name, c.code_birth, e.name code_maker_name
		from common_code c left join employees e
		on c.code_maker = e.employee_id
        where code_title =#{code_title}
		order by code_title
	</select>
	
	
	
	
	
	
	
	
	
	
	</mapper>