<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

<!-- 가입처리 -->
<insert id="insert">
insert into member (email, id, pw, name, gender, phone, address)
values (#{email, jdbcType=VARCHAR}, #{id, jdbcType=VARCHAR}, #{pw, jdbcType=VARCHAR}, 
	#{name, jdbcType=VARCHAR}, #{gender, jdbcType=VARCHAR}, #{phone, jdbcType=VARCHAR}, 
	#{address, jdbcType=VARCHAR})
</insert>

<!-- 회원가입 아이디 중복체크 -->
<select id='checkId' resultType='integer'>
select count(id) from member where id = #{id}
</select>

<!-- 로그인할 때 아이디와 비밀번호 맞는지 확인 + 관리자 정보  -->
<select id='checkLogin' resultType='member.MemberVO'>
select m.*, e.admin, e.employee_id, e.department_id, e.company_cd
from member m join employees e
on m.email = e.email
where id = #{id} and pw = #{pw}
</select>


</mapper>