<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="salary">

	<select id="salaryList" resultType="salary.SalaryVO">
		select e.employee_id, e.name, c.code_name c_position, c2.code_name c_employee_pattern, 
		s.salary, s.commission_pct, e.hire_date, d.department_name
		from salary s join employees e 
		on s.employee_id = e.employee_id join common_code c
		on e.employee_pattern = c.code_value join common_code c2
		on e.position = c2.code_value join departments d
		on e.department_id = d.department_id

	</select>
	
	<insert id='andInsertBonus'>
		insert into bonus (employee_id, bonus, bonus_date, bonus_comment)
		values (#{employee_id}, #{bonus}, #{bonus_date}, #{bonus_commnet})
	</insert>

</mapper>