<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work">


<!-- 개인  출근 정보 출력  -->
<select id="workInfo" resultType="work.WorkVO">
	SELECT *
	FROM work
	where employee_id = '20221015'
	
</select>


<!-- result table 에 있는 출근 정보 등록  -->
<select id="list" resultType="work.WorkResultVO">
	select w.*, c.code_name work_status 
	from work_result w left join common_code c 
	on w.work_code = c.code_value
	where w.employee_id = '20221015'
	order by work_date desc
</select>

<!-- null값인 퇴근시간에 update 처리  -->
<update id="end_work">
	UPDATE work
	   SET end_work = #{end_work}
	 WHERE employee_id= '20221015'
</update>

<!-- 출근 시간 등록 -->
 <insert id="start_work">
	insert into work
	   (employee_id, department_id, company_cd,start_work, work_code)
	   values('20221015',10,'1000', #{start_work},'W101')
</insert>

<!-- 연차사용 내역 -->

<select id="holiday_list" resultType="work.WorkResultVO">
	select w.*, c.code_name work_status 
	from work_result w left join common_code c 
	on w.work_code = c.code_value
	where employee_id = '20221015' and work_code ='HO101' or work_code ='HO102'

</select>

<!-- 로그인한 아이디의 출근정보만 출력 -->

<select  id="empInfo" resultType="emp.EmpVO">
<!-- select e.*, c.code_name position_name
from  employees e left join common_code c
on e.position = c.code_value 
where e.employee_id = '20221015' -->

SELECT  e.*, c.code_name position_name, 
                    TRUNC(MONTHS_BETWEEN(SYSDATE, hire_date) / 12) hire_year
FROM    employees e left join common_code c
on e.position = c.code_value 
where e.employee_id = '20221015'


</select>


<select id="codeList" resultType="work.CommonCodeVO">
	select * 
	from common_code
	where code_title = 'HO'

</select> 

<!-- 휴가신청  -->

<insert id="holiday_submit">
	insert into holiday
	   (employee_id, department_id, company_cd,work_code,holiday_date, work_date)
	   values('20221015',10,'1000', #{work_code}, #{holiday_date},${work_date})
</insert>




</mapper>